<a href="https://colab.research.google.com/github/AnnyangEH/MNFpython/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
7일 동안 파이썬 마스터하기! 도전 3일차(21.05.22)
'왕초보를 위한 Python'의 wikidocs 를 통해서 공부합니당
첫 단계인 만큼 추후 목표는 머신러닝을 파이썬을 통해 공부할 것이고
7일 동안 파이썬과 익숙해지면 나만의 게임도 만들거임
"""
#3일차는 함수를 배우는 날임

In [2]:
a = [3, 4, 62, 27, 83, 956, 26, 58, 3, 78, 168, 64, 78]

len([1, 2, 3, 4, 5]) #len() 도 리스트의 크기를 알려주는 함수임!

5

In [3]:
len(a)

13

In [6]:
def print_list(x): #함수의 이름을 정해주고 x 는 매개변수 
    for i in x:
        print(i)

In [7]:
print_list(a)

3
4
62
27
83
956
26
58
3
78
168
64
78

In [8]:
def zico():
    print('I am a boy')
    print('but u r a girl')

In [9]:
zico()

I am a boy
but u r a girl

In [10]:
'''
문제!
자, 이번엔 여러분이 직접 만들어볼 차례입니다. a와 b 가운데 a가 크면 'a > b'라고 표시하고, b가 크면 'a < b', 두 숫자가 같으면 'a == b'라고 표시하는 함수를 만들어 보세요. 
이 함수는 매개변수 두 개를 필요로 합니다. 함수를 만들 때 괄호 안에 (x, y)와 같은 형식으로 해주면 되겠죠? 답 다 가르쳐 드렸네요.^^
'''
def ab(x, y):
    if x > y:
        print('a > b')
    elif x < y:
        print('a < b')
    else:
        print('a == b')

In [11]:
ab(1, 2)

a < b

In [12]:
ab(3,2)

a > b

In [13]:
ab(3,3)

a == b

In [62]:
'''
연습 문제: 구구단

다음 예와 같이 구구단을 2단부터 9단까지 계산해서 출력하는 프로그램을 짜보세요. 
지금까지 배운 내용만 제대로 이해하시면 충분히 하실 수 있답니다.
'''
def gugu(x):
    for y in range(1,10):
        print(f'{x} * {y} = {x * y:2d}')

In [63]:
gugu(3)

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [67]:
def autogugu():
    for x in range(2, 10):
        for y in range(1, 10):
            print(f'{x} * {y} = {x * y:2d}')
        print()

In [ ]:
autogugu()

In [70]:
def f1(x):
    a = 3
    b = 5
    y = a * x + b
    return y    #y 값을 반환한다

c = f1(10)      #c = 35
print(c)

35

In [71]:
def f2(x):
    a = 3
    b = 5
    y = a * x + b
    print(y)    #y 값을 출력한다.

d = f2(10)      # d = ?
print(d)

35
None

In [72]:
'''
삼각형의 넓이를 구하는 함수를 만들어보세요.

함수의 인자로는 삼각형의 밑변과 높이가 주어지고, 반환(return) 값은 삼각형의 넓이가 되는 겁니다. 간단하겠죠?

문제를 풀어보신 분께는 신기한 것을 하나 알려드리겠습니다.

아직 안 풀어보셨으면 빨리 해보세요.
'''
def tri(x, y):
    n = (x * y)/2
    return n

In [76]:
a = tri(5, 10)
print(a)

25.0

In [77]:
1 + 2 == 0

False

In [78]:
1 + 1 == 2

True

In [79]:
if 1 + 1 == 2:
    print('yes')
else:
    print('no')

yes

In [80]:
def quiz():
    ans = input('1 + 2 = ')
    return 1 + 2 == int(ans)    #답을 맞히면 True를 돌려주고, 틀리면 False를 돌려줌

In [81]:
quiz()

1 + 2 = 3

True

In [82]:
quiz()

1 + 2 = 4

False

In [145]:
'''
연습 문제: 숫자 읽기 함수(1~10)

매개변수로 받은 정수를 한국어로 표기한 문자열을 반환하는 함수 korean_number()를 정의하세요. 
단, 매개변수는 1 이상 10 이하의 정수라고 가정합니다.
'''
def korean_number():
    x = int(input())
    plist = ['하나','둘','삼','넷','오','여섯','칠','팔','아홉','공']   #포병의 자부심으로 포병숫자로 씀 ㅋㅋ
    for i in range(11):
        if x >= 11 or x < 0:
            return print('올바른 숫자를 입력해주세요')
            break
        elif x - 1 == i:
            return plist[i]
        else:
            i += 1

In [149]:
korean_number()

10

'공'

In [153]:
'''
연습 문제: 함수 정의하기

문제 1
다음 triple() 함수를 완성하세요.

>>> def triple(x):
...     ██████ █ █ █
... 
>>> triple(2)
6
>>> triple('x')
'xxx'
'''

def triple(x):
    return x * 3

triple(2)

triple('x')

'xxx'

In [163]:
'''
문제 2
오늘의 날짜 객체를 구하는 코드는 다음과 같습니다. (코드를 이해하지 못해도 이 문제를 풀 수 있습니다.)

>>> from datetime import datetime
>>> today = datetime.today()
>>> today
datetime.datetime(2021, 3, 21, 15, 46, 1, 94942)
위 코드의 today에서 연도를 구하는 방법은 다음과 같습니다.

>>> today.year
2021
태어난 해를 네 자리 숫자로 입력하면 한국 나이를 반환하는 함수 korean_age()를 작성하세요.
'''

from datetime import datetime

def korean_age(x):
    return print(f'{today.year - x + 1}살 입니다')

korean_age(1973)

49살 입니다