<a href="https://colab.research.google.com/github/AnnyangEH/MNFpython/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [3, 4, 62, 27, 83, 956, 26, 58, 3, 78, 168, 64, 78]

len([1, 2, 3, 4, 5]) #len() 도 리스트의 크기를 알려주는 함수임!

5

In [ ]:
len(a)

13

In [ ]:
def print_list(x): #함수의 이름을 정해주고 x 는 매개변수 
    for i in x:
        print(i)

In [ ]:
print_list(a)

3
4
62
27
83
956
26
58
3
78
168
64
78

In [ ]:
def zico():
    print('I am a boy')
    print('but u r a girl')

In [ ]:
zico()

I am a boy
but u r a girl

In [ ]:
'''
문제!
자, 이번엔 여러분이 직접 만들어볼 차례입니다. a와 b 가운데 a가 크면 'a > b'라고 표시하고, b가 크면 'a < b', 두 숫자가 같으면 'a == b'라고 표시하는 함수를 만들어 보세요. 
이 함수는 매개변수 두 개를 필요로 합니다. 함수를 만들 때 괄호 안에 (x, y)와 같은 형식으로 해주면 되겠죠? 답 다 가르쳐 드렸네요.^^
'''
def ab(x, y):
    if x > y:
        print('a > b')
    elif x < y:
        print('a < b')
    else:
        print('a == b')

In [ ]:
ab(1, 2)

a < b

In [ ]:
ab(3,2)

a > b

In [ ]:
ab(3,3)

a == b

In [ ]:
'''
연습 문제: 구구단

다음 예와 같이 구구단을 2단부터 9단까지 계산해서 출력하는 프로그램을 짜보세요. 
지금까지 배운 내용만 제대로 이해하시면 충분히 하실 수 있답니다.
'''
def gugu(x):
    for y in range(1,10):
        print(f'{x} * {y} = {x * y:2d}')

In [ ]:
gugu(3)

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
def autogugu():
    for x in range(2, 10):
        for y in range(1, 10):
            print(f'{x} * {y} = {x * y:2d}')
        print()

In [ ]:
autogugu()

In [ ]:
def f1(x):
    a = 3
    b = 5
    y = a * x + b
    return y    #y 값을 반환한다

c = f1(10)      #c = 35
print(c)

35

In [ ]:
def f2(x):
    a = 3
    b = 5
    y = a * x + b
    print(y)    #y 값을 출력한다.

d = f2(10)      # d = ?
print(d)

35
None

In [ ]:
'''
삼각형의 넓이를 구하는 함수를 만들어보세요.

함수의 인자로는 삼각형의 밑변과 높이가 주어지고, 반환(return) 값은 삼각형의 넓이가 되는 겁니다. 간단하겠죠?

문제를 풀어보신 분께는 신기한 것을 하나 알려드리겠습니다.

아직 안 풀어보셨으면 빨리 해보세요.
'''
def tri(x, y):
    n = (x * y)/2
    return n

In [ ]:
a = tri(5, 10)
print(a)

25.0

In [ ]:
1 + 2 == 0

False

In [ ]:
1 + 1 == 2

True

In [ ]:
if 1 + 1 == 2:
    print('yes')
else:
    print('no')

yes

In [ ]:
def quiz():
    ans = input('1 + 2 = ')
    return 1 + 2 == int(ans)    #답을 맞히면 True를 돌려주고, 틀리면 False를 돌려줌

In [ ]:
quiz()

1 + 2 = 3

True

In [ ]:
quiz()

1 + 2 = 4

False

In [ ]:
'''
연습 문제: 숫자 읽기 함수(1~10)

매개변수로 받은 정수를 한국어로 표기한 문자열을 반환하는 함수 korean_number()를 정의하세요. 
단, 매개변수는 1 이상 10 이하의 정수라고 가정합니다.
'''
def korean_number():
    x = int(input())
    plist = ['하나','둘','삼','넷','오','여섯','칠','팔','아홉','공']   #포병의 자부심으로 포병숫자로 씀 ㅋㅋ
    for i in range(11):
        if x >= 11 or x < 0:
            return print('올바른 숫자를 입력해주세요')
            break
        elif x - 1 == i:
            return plist[i]
        else:
            i += 1

In [ ]:
korean_number()

10

'공'

In [ ]:
'''
연습 문제: 함수 정의하기

문제 1
다음 triple() 함수를 완성하세요.

>>> def triple(x):
...     ██████ █ █ █
... 
>>> triple(2)
6
>>> triple('x')
'xxx'
'''

def triple(x):
    return x * 3

triple(2)

triple('x')

'xxx'

In [ ]:
'''
문제 2
오늘의 날짜 객체를 구하는 코드는 다음과 같습니다. (코드를 이해하지 못해도 이 문제를 풀 수 있습니다.)

>>> from datetime import datetime
>>> today = datetime.today()
>>> today
datetime.datetime(2021, 3, 21, 15, 46, 1, 94942)
위 코드의 today에서 연도를 구하는 방법은 다음과 같습니다.

>>> today.year
2021
태어난 해를 네 자리 숫자로 입력하면 한국 나이를 반환하는 함수 korean_age()를 작성하세요.
'''



def korean_age(x):
    from datetime import datetime
    return print(f'{today.year - x + 1}살 입니다')

korean_age(1973)

49살 입니다

In [ ]:
'''
연습 문제: 단리 이자 계산

새해를 맞아 저축을 하기로 하고 연이율 3.875%(단리)인 상품에 10,000,000원을 저축했습니다. 5년 동안 넣어두면 이자가 얼마 붙는지 계산해보겠습니다.

첫 해에 원금 10,000,000원에 대한 이자 10,000,000 * 0.03875 = 387500원이 붙습니다.
둘째 해에 원금 10,000,000원에 대한 이자 387500원이 붙습니다.
마찬가지로 셋째, 넷째, 다섯째 해에도 해마다 같은 금액의 이자가 붙습니다.

만기가 되어 받을 수 있는 이자는 다음과 같습니다.

>>> 10000000 * 0.03875 * 5
1937500.0
원금과 이자를 합한 총액, 즉 원리금은 다음과 같습니다.

>>> 10000000 + 10000000 * 0.03875 * 5
11937500.0
소수점 이하는 필요 없지만 지금은 그대로 둘게요.

원금(Principal), 이율(rate), 기간(time)이 주어졌을 때, 이자(Interest)를 구하는 공식은 다음과 같습니다.

I=Prt
그리고 원리금(Amount)을 구하는 공식은 다음과 같습니다.

A=P(1+rt)
===========================================================================================================================
===========================================================================================================================
문제 1
원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 이자를 구하는 함수 simple_interest()를 작성하세요.

예1
>>> simple_interest(10000000, 0.03875, 5)
1937500.0
예2
>>> simple_interest(1100000, 0.05, 5/12)
22916.666666666668
===========================================================================================================================
===========================================================================================================================
문제 2
원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 원리금을 계산하는 함수 simple_interest_amount()를 작성하세요.

예1
>>> simple_interest_amount(10000000, 0.03875, 5)
11937500.0
예2
>>> simple_interest_amount(1100000, 0.05, 5/12)
1122916.6666666665
'''
def simple_interest(p, r, t):
    result = p * r * t
    return result
def simple_interest_amount(p, r, t):
    result = (p * r * t) + p
    return result

print(simple_interest(10000000, 0.03875, 5))
print(simple_interest(1100000, 0.05, 5/12))
print(simple_interest_amount(10000000, 0.03875, 5))
print(simple_interest_amount(1100000, 0.05, 5/12))

1937500.0
22916.666666666668
11937500.0
1122916.6666666667

In [ ]:
r = 0.043
n = 4

1500000 * (1 + r / n)

1516125.0

In [ ]:
_ * (1 + r / n )

1532423.34375

In [ ]:
_ * (1 + r / n )

1548896.8946953125

In [ ]:
_ * (1 + r / n )

1565547.5363132872

In [ ]:
p = 1500000
r = 0.043
t = 6
n = 4
p * (1 + r / n) ** (n * t)

1938836.8221341055

In [ ]:
'''
문제
복리 예금의 원금(p), 연이율(r), 기간(t), 복리 횟수(n)에 대한 원리금을 계산하는 함수 compound_interest_amount()를 작성하세요.

예 1
6년간 매분기 이자를 주는 경우(t=6, n=4)

>>> compound_interest_amount(1500000, 0.043, 6, 4)
1938836.8221341055
예 2
6년간 2년마다 이자를 주는 경우(t=6, n=1/2)

>>> compound_interest_amount(1500000, 0.043, 6, 1/2)
1921236.0840000005
'''
def compound_interest_amount(p, r, t, n):    
    return p * (1 + r / n) ** (n * t)


print(compound_interest_amount(1500000, 0.043, 6, 4))   #6년간 매분기 이자를 주는 경우(t=6, n=4)
print(compound_interest_amount(1500000, 0.043, 6, 0.5)) #6년간 2년마다 이자를 주는 경우(t=6, n=1/2)

1938836.8221341055
1921236.0840000005

In [ ]:
jjang = 'eh'

In [ ]:
jjang = 'me'

In [ ]:
jjang

'me'

In [ ]:
def ban():
    jjang = '07'
    print ('jjang = ', jjang)

ban()

jjang =  07

In [ ]:
jjang

'me'

In [ ]:
'''
ban() 함수 안에서 jjang = '07'이라고 하면 jjang이란 변수를 새로 만드는 거구요, 기존의 jjang에는 영향을 미치지 않습니다. 그리고, ban 함수가 끝날 땐 그 함수 내에서 만들었던 변수들은 모두 없어지는 거죠.

이와 같이 함수 안에서 만들어진 변수를 지역변수라고 하고, 함수 밖에서 만들어진 변수를 전역변수라고 합니다. 지역변수는 함수가 호출되면 만들어져서, 함수의 실행이 끝날 때 함께 없어지는 반면, 전역변수는 함수와는 관계없이 항상 꿋꿋이 지구를 지킨답니다. 그래서 영어로 전역변수를 global이라는 말로 표현하지용…

지역변수를 함수 밖에서 한번 불러볼까요?
'''
def d_is_ten():
    d = 10
    print('d 값은 ', d,'입니다')

d_is_ten()
print(d)    #지역변수를 함수 밖에서 호출하여 정의되지 않았다고 표시됌

d 값은  10 입니다

NameError: ignored

In [ ]:
x = 10
def printx():
    print(x)

printx()

'''
전역변수는 프로그램이 복잡해질수록 골치거리가 된답니다. 
다른 엉뚱한 함수 때문에 변수의 값이 바뀌어버리는 수가 종종 있거든요. 
그래서 필요에 따라 지역변수와 전역변수를 골라 쓰는 것이 좋답니다.
'''

def e_is_10():
    global e    #글로벌(전역변수)로 사용하겠다고 선언
    e = 10
    print('e 값은', e,'입니다')

e_is_10()

10
e 값은 10 입니다

In [ ]:
e

10

In [ ]:
def hap(x, y):
    return x + y

hap(1,2)

3

In [ ]:
(lambda x,y: x + y)(1, 2)

3

In [ ]:
#map(함수, 리스트) map() 함수는 함수와 리스트를 인자로 받음
list(map(lambda x: x ** 2, range(5))) 
'''
map() 함수는 리스트에서 원소를 하나씩 꺼내서 함수를 적용시킨 결과를 새로운 리스트에 담아줌
위의 예제는 0을 제곱하고, 1을 제곱하고, 2, 3, 4를 제곱한 것을 새로운 리스트에 넣어준 것
'''

[0, 1, 4, 9, 16]

In [ ]:
#reduce(함수, 순서형 자료) reduce() 함수는 함수의 인자들을 누적시킴
from functools import reduce
print(reduce(lambda x, y: x + y, [0, 1, 2, 3, 4]))  #각각 더해줌
print(reduce(lambda x, y: y + x, 'abcde'))  #서순 시켜줌

10
edcba

In [ ]:
#filter(함수, 리스트) filter() 함수는 리스트에 있는 원소들을 함수에 적용시켜 결과값이 '참'인 값들을 새로운 리스트로 만듬
list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

In [ ]:
print(list(filter(lambda x:x % 2, range(25))))
print(list(filter(lambda x:x % 2 == 0, range(25))))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [ ]:
#21.05.23 주말이라 어제 못한 3과 마무리를 개인정비 시간을 통해서 복습겸 원래 해야할 만큼 더 풀었음 ㅇㅇ!

In [ ]:
#오늘 저녁엔 1시간은 파이썬 공부 후에 AWS-CLF-Practitioner 자격증 공부를 1시간 하고 마무리 할 듯
#새벽 불침번 셋번이라 좀 피곤할꺼 같긴 한데 그래도 하고 자려함 ㅂㄷㅂㄷ