<a href="https://colab.research.google.com/github/AnnyangEH/MNFpython/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
7일 동안 파이썬 마스터하기! 도전 4일차(21.05.23)
'왕초보를 위한 Python'의 wikidocs 를 통해서 공부합니당
첫 단계인 만큼 추후 목표는 머신러닝을 파이썬을 통해 공부할 것이고
7일 동안 파이썬과 익숙해지면 나만의 게임도 만들거임
"""
#4일차는 데이터타입을 배우는 날임

"\n7일 동안 파이썬 마스터하기! 도전 4일차(21.05.23)\n'왕초보를 위한 Python'의 wikidocs 를 통해서 공부합니당\n첫 단계인 만큼 추후 목표는 머신러닝을 파이썬을 통해 공부할 것이고\n7일 동안 파이썬과 익숙해지면 나만의 게임도 만들거임\n"

In [ ]:
'''
컴퓨터는 모든 숫자, 문자를 모두 이진수로 확인하기 때문에
01000001가 숫자 65인지, 알파벳 A인지 판별할 수 없어서
사용자이던 컴퓨터이던 자료형을 통해 구분지어 주는 것임
'''

'\n컴퓨터는 모든 숫자, 문자를 모두 이진수로 확인하기 때문에\n01000001가 숫자 65인지, 알파벳 A인지 판별할 수 없어서\n사용자이던 컴퓨터이던 자료형을 통해 구분지어 주는 것임\n'

In [ ]:
#파이썬의 자료형은 크게 수치형(numbers), 순서형(sequence), 매핑형(mapping) 등으로 나눌 수 있음

In [ ]:
type(5)

int

In [ ]:
type('안녕')

str

In [ ]:
#수치형 수치형에는 정수(int), 부동소수점수(float), 복소수(complex)가 있음

In [ ]:
type(100000)    #정수형

int

In [ ]:
type(2.2)   #부동소수점수

float

In [ ]:
type(3+4j)  #망할 복소수

complex

In [ ]:
#순서형 문자열(string), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 순서형에 속함

In [ ]:
type("today i don't feel like doing anything")

str

In [ ]:
type(['Mom','Pop','Bro','Me'])

list

In [ ]:
type(('love','is','always','painful'))

tuple

In [ ]:
#매핑형 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이룸, 이런 것을 매핑형이라함

In [ ]:
type({'one' : 1, 'two' : 2, 'three' : 3})

dict

In [ ]:
#불 참(True),거짓(False)를 표현하는 불(bool)도 있음, 참고로 bool은 boolean의 줄임말임

In [ ]:
type(False)

bool

In [ ]:
#세트 집합을 의미하는 세트(set)

In [ ]:
number = {'하나', '둘', '삼'}
type(number)

set

In [ ]:
'Python'[::-1]  #문자열 슬라이싱(slicing)을 이용해, 문자열에 속한 문자들을 거꾸로 배열하고 얻을 수 있음

'nohtyP'

In [ ]:
'Python'[:6]

'Python'

**문자열 슬라이싱**

문자열 슬라이싱을 이용해 문자열의 일부를 복사할 수 있습니다.
>>> p = 'Python'
>>> p[0:2]
'Py'

아래처럼 인덱스 0을 생략할 수도 있습니다.
>>> p[:2]
'Py'

문자열의 뒷부분을 복사할 수도 있습니다.
>>> p[-2:]
'on'

다음과 같은 방법으로 문자열 전부를 복사할 수도 있습니다.
>>> p[:]
'Python'

역순으로 복사하는 것도 가능합니다.
>>> p[::-1]
'nohtyP'

문자열의 lower() 메서드를 이용해 소문자만으로 이루어진 문자열을 얻을 수 있습니다.
>>> 'Python'.lower()
'python'

그리고 replace() 메서드를 이용해 문자열 일부를 다른 문자열로 바꾼 문자열을 얻을 수 있습니다.
>>> 'Python'.replace('P', 'J')
'Jython'

**문제**

거꾸로 배열해도 같은 단어 혹은 문장이 되는 것을 ‘회문(palindrome)’이라고 합니다.

Anna
Civic
Kayak
Level

**문제 1**

주어진 단어가 회문인지 판별하는 함수 palindrome()을 작성하세요. 단, 문자열 입력은 모두 소문자로 이뤄지며 공백을 포함하지 않는다고 가정합니다.

>>> palindrome('anna')

True

>>> palindrome('banana')

False

In [ ]:
def pailndrome(s):
    if str(s) == str(s[::-1]):
        return True
    else:
        return False

In [ ]:
print(pailndrome('sos'))
print(pailndrome('island'))
print(pailndrome('anna'))

True
False
True

**문제 2**

대문자와 소문자가 섞여 있더라도 회문으로 판정하도록 함수를 개선하세요.

>>> palindrome('Anna')

True

In [ ]:
def cappailndrome(s):
    if str(s.lower()) == str(s.lower()[::-1]):
        return True
    else:
        return False

In [ ]:
print(cappailndrome('Sos'))
print(cappailndrome('Island'))
print(cappailndrome('Anna'))

True
False
True

**문제 3**

공백이 섞여 있더라도 회문으로 판정하도록 함수를 개선하세요.

>>> palindrome('My gym')

True

In [ ]:
def gopalindrome(s):
    s = str(s.replace(' ',''))
    if str(s.lower()) == str(s.lower()[::-1]):
        return True
    else:
        return False

In [ ]:
print(gopalindrome('S O s'))
print(gopalindrome('Annn'))
print(gopalindrome('Island'))
print(gopalindrome('An na'))

True
False
False
True

In [ ]:
#21.05.23(SUN) 상하이 vs 퓨전전 옵치리그 1시간 정도 보고 아마존 웹서비스 프랙티션 영상 조금 챙겨보구,, 나머지 하느라 조금밖에 못했음! 낼 개인정비 시간에 더 해야쥐

**문자열**

In [ ]:
x = 'banana'

In [ ]:
x[0]    #0번 글자는?

'b'

In [ ]:
x[2:4]  # 2번부터 4번 앞(3번)까지는?

'na'

In [ ]:
x[:3]   # 처음부터 3번 앞(2번)까지는?

'ban'

In [ ]:
x[3:]   # 3번부터 끝까지는?

'ana'

In [ ]:
x[0] = 'n'

TypeError: ignored

In [ ]:
x = 'n' + x[1:]

In [ ]:
x

**리스트**

In [ ]:
prime = [3, 7, 11]

In [ ]:
prime.append(5)     #append()함수를 통해 원소 5를 추가

In [ ]:
prime

**sort()** 함수를 사용하면 정렬을 간단하게 할 수 있씀

In [ ]:
prime.sort()

In [ ]:
prime

In [ ]:
prime.insert(0,2)   #0번 자리에 2를 추가!

In [ ]:
prime

In [ ]:
del prime[4]    #4번 원소를 삭제

In [ ]:
prime

In [ ]:
prime[0] = 1    #문자열과는 달리 리스트에서는 변경할 수 있음
prime

In [ ]:
orders = ['potato', ['pizza', 'Coke', 'salad'], 'hamburger']    #리스트에 리스트를 넣을 수도 있음
orders[1]   #potato 는 0, hamburger 는 2

In [ ]:
orders[1][2]

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  #리스트를 통한 행렬도 표현 가능

**문자열을 리스트로 바꾸기**

In [ ]:
characters = []
sentence = 'Im the one'
for char in sentence:
    characters.append(char)     #빈 리스트에 append 함수를 통해 sentence의 문자열을 반복해서 하나씩 추가

characters

**숫자를 문자열로 바꾸기**

In [ ]:
in_in = 123
type(in_in)

In [ ]:
str(in_in)  #문자열로 변경시킴 보면 작은 따옴표가 두개 생김

In [ ]:
type(str(in_in))    #type() 함수를 통해 보아도 문자열로 바뀐 것을 확인가능

In [ ]:
my_str = str(in_in)     #이렇게 얻은 문자열을 새로운 변수에 할당하면 됌

In [ ]:
#어떻게 보면 숫자를 문자열로 바꾼 것이 아니라 >> 숫자값을 통해 새로운 문자열을 얻은 것임

**문자열을 숫자로 바꾸기**

역으로, 숫자를 나타낸 문자열에서 숫자를 얻어낼 수도 있음

In [ ]:
int('123')

In [ ]:
float('123')

**리스트 원소들의 합 구하기**

In [ ]:
one_to_ten = list(range(1,11))
one_to_ten

In [ ]:
sum(one_to_ten)     #합계를 구하는 함수 sum()

In [ ]:
chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [20, 50, 10]
me = [96, 99, 100]
minsu = [90, 60, 70]

students = [chulsu, younghee, yong, me, minsu]

In [ ]:
for scores in students:
    print(scores)

In [ ]:
for scores in students:
    total = 0
    for s in scores:
        total += s
    average = total/3
    print(scores, total, average)

**연습 문제**: 각 자리 숫자의 합을 구하는 함수(리스트를 이용)

정수 num을 매개변수로 받아 각 자리 숫자(digit)의 합을 계산하는 sumOfDigits() 함수를 작성하세요. 단, 나눗셈을 이용하지 말고 풀어보세요.

예 1
입력:
643

출력(6 + 4 + 3 = 13):
13

예 2
입력:
47253

출력:
21

In [ ]:
def sumOfDigits(num):
    sum = 0
    for c in list(str(num)):
        sum += int(c)
    return sum

print(sumOfDigits(643))
print(sumOfDigits(47253))

**연습 문제: 줄기와 잎 그림**

문제
농구팀에 속한 12명의 득점을 다음과 같이 score 리스트로 나타냈습니다.

>>> score = [0, 0, 2, 4, 7, 7, 9]

>>> score += [11, 11, 13, 18]

>>> score += [20]

>>> score

[0, 0, 2, 4, 7, 7, 9, 11, 11, 13, 18, 20]

다음과 같이 stem_leaf 리스트를 만들어 선수들의 득점을 줄기와 잎 그림 형식으로 저장하려고합니다.

>>> stem_leaf = [[], [], []]


**문제 1**
stem_leaf에 데이터를 채우는 프로그램을 작성하세요. 데이터가 채워진 결과는 다음과 같습니다.

>>> stem_leaf

[[0, 0, 2, 4, 7, 7, 9], [1, 1, 3, 8], [0]]

>>> stem_leaf[0]

[0, 0, 2, 4, 7, 7, 9]

>>> stem_leaf[1]

[1, 1, 3, 8]

>>> stem_leaf[2]

[0]

**문제 2**
stem_leaf를 다음과 같은 형태로 프린트하는 프로그램을 작성하세요.

0: [0, 0, 2, 4, 7, 7, 9]

1: [1, 1, 3, 8]

2: [0]

In [ ]:
def stem_leaf(x):
    stem_leaf = [[ ], [ ], [ ]]

    score = [0, 0, 2, 4, 7, 7, 9]
    score += [11, 11, 13, 18]
    score += [20]
    for s in score:
        if s - 10 <= 0:
            stem_leaf[0].append(s)
        elif (s - 10) > 0 and (s - 10) < 10:
            stem_leaf[1].append(s)
        else:
            stem_leaf[2].append(s)
    if x == 1:
        return stem_leaf
    else:
        return print('0:',stem_leaf[0],'\n1:',stem_leaf[1],'\n2:',stem_leaf[2])

In [ ]:
stem_leaf(1)

**문제1**

어떤 수(number)의 각 자리 숫자(digit)의 합을 계산하는 sumOfDigits()라는 재귀 

함수를 작성하자. 입력한 수를 읽어 sumOfDigits() 함수를 호출하며, 이 함수는 

합산할 숫자가 남지 않을 때까지 자신을 호출해, 최종적인 합을 사용자에게 표시한다.

sumOfDigits()는 다음과 같은 원리로 작동한다.

예 1

입력:
47253

출력:
21

예 2

입력:
643

출력:
13

In [ ]:
def sumOfDigitss(num):
    if num >= 1:
        return num % 10 + sumOfDigitss(num // 10)
    else:
        return 0

In [ ]:
sumOfDigitss(47253)

21

1 과 자기 자신으로만 나누어떨어지는 자연수를 소수(素數, prime number)라고 합니다(칸 아카데미).

위키백과에는 '자신보다 작은 두 개의 자연수를 곱하여 만들 수 없는 1보다 큰 자연수이다'라고 설명되어 있습니다.

다음은 소수입니다.

2, 3, 5, 7, 11, 13, 17, 19, 23, 29, ...
소수를 구하는 방법은 다음과 같습니다.

찾고자 하는 범위의 자연수를 나열한다.

2부터 시작하여, 2의 배수를 지워나간다.

다음 소수의 배수를 모두 지운다

In [ ]:
def soSu(x):
    l = list(range(2, x + 1))
    y = 2
    for i in l:
        for y in l:
            if y % i == 0 and y != i:
                l.remove(y)
            elif y / i == 1:
                y += 1
    return l

In [ ]:
soSu(23)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [ ]:
#위 소수 계산기 푸는데 2일 정도 걸림(실제론 교육훈련 후 피곤해서 공부시간이 절대적으로 부족하긴 헀지만)
#그래도 너무 오래걸려서 속상했으나 정답도 안보고 혼자 직접 푼거라 뭔가 기분은 좋았음

**연습 문제: 진법 변환**

문제

십진수를 입력받아 그 숫자에 해당하는 이진수의 각 자리를 리스트로 출력하는 

프로그램을 작성하세요. (순서에 유의)

In [ ]:
def ten2two(x):
    l = []
    while True:
        x, x1 = divmod(x, 2)
        l.insert(0, x1)
        if x == 0:
            return l
            break

In [ ]:
ten2two(123)

[1, 1, 1, 1, 0, 1, 1]

**튜플(tuple)**

In [ ]:
a = 10
b = 20
temp = a
a = b
b = temp
print(a, b)

20 10

In [ ]:
c = 10
d = 20
c, d = d, c     #고딩때 자바로 풀던거 생각나네;; 갓갓 파이썬
print(c, d)

20 10

In [ ]:
def magu_print(x, y, *reset):
    print(x, y, reset)

In [ ]:
magu_print(1,2,30)

1 2 (30,)

In [ ]:
t = ('a','b','c')
#튜플을 만들 때는 위와 같이 괄호를 써도 되고 안 써도 됩니다

In [ ]:
empty = ()
#원소가 없는 튜플을 만들 때는 괄호를 꼭 써야함.

In [ ]:
one = 5,
#원소를 하나만 가진 튜플을 만들 땐 원소 뒤에 콤마(,)를 꼭 찍어주시구요.

SyntaxError: ignored

In [4]:
p = ('1','2','3')
q = list(p)
type(q)

list

In [5]:
l = ['1','2','3']
r = tuple(l)
type(r)

tuple

**연습 문제: 내일의 날짜 구하기**

문제1

사용자로부터 날짜를 나타내는 세 개의 숫자를 입력받습니다. 첫 번째 숫자는 연도를 

나타내는 네 자리 숫자이고, 두 번째 숫자는 월을, 세 번째 숫자는 일을 나타냅니다.


입력받은 날짜를 mm/dd/yyyy 형식으로 출력합니다. 월을 두 자리 숫자(01, 02, 03, ..
., 12)로, 일을 두 자리 숫자(01, 02, 03, ..., 31)로, 연도를 네 자리 숫자로 

나타냅니다.

입력받은 날짜의 다음 날에 해당하는 날짜도 같은 형식으로 출력합니다. 

단, 윤년은 무시합니다(2월은 항상 28일까지 있다고 가정합니다).

In [33]:
def tomW(y, m, d):
    td = d
    tm = m
    ty = y
    if m == 1 or m == 3 or m == 5 or m == 7 or m == 8 or m == 10 or m == 12:
        if d == 31:
            m += 1
            d = 1
        elif d >= 32:
            return '올바른 숫자를 입력해주세요'
        else:
            d += 1
    elif m == 4 or m == 6 or m == 9 or m == 11:
        if d == 30:
            m += 1
            d = 1
        elif d >= 31:
            return '올바른 숫자를 입력해주세요'
        else:
            d += 1
    elif m == 2:
        if d == 28:
            m += 1
            d = 1
        elif d >= 29:
            return '올바른 숫자를 입력해주세요'
        else:
            d += 1
    return print(td,'/',tm,'/',ty,'\n',d,'/',m,'/',y)

In [34]:
tomW(2018, 10, 2)

2 / 10 / 2018
 3 / 10 / 2018

In [35]:
tomW(2018, 11, 30)

30 / 11 / 2018
 1 / 12 / 2018

In [36]:
tomW(2018, 12, 31)

31 / 12 / 2018
 1 / 13 / 2018

In [37]:
#내가 짜려던 코드는 이건데 뭔가 노가다가 너무 심해서 예제의 답을 봤음

In [38]:
def read_date():
    year, month, day = tuple(map(int, input().split()))
    return year, month, day

def print_date(date):
    year, month, day = date
    print("%02d/%02d/%04d" % (month, day, year))

def advance_day(date):
    year, month, day = date
    
    # end_of_month = (month == 1 and day == 31) or \
               # (month == 2 and day == 28) or \
               # (month == 3 and day == 31) or \
               # (month == 4 and day == 30) or \
               # (month == 5 and day == 31) or \
               # (month == 6 and day == 30) or \
               # (month == 7 and day == 31) or \
               # (month == 8 and day == 31) or \
               # (month == 9 and day == 30) or \
               # (month == 10 and day == 31) or \
               # (month == 11 and day == 30) or \
               # (month == 12 and day == 31)
    
    #end_of_month = (month in [1, 3, 5, 7, 8, 10, 12] and day == 31) or \
    #                     (month in [4, 6, 9, 11] and day == 30) or \
    #                     (month == 2 and day == 28)
    
    end_of_month = (month, day) in [(1, 31), (2, 28), (3, 31), (4, 30), (5,
        31), (6, 30), (7, 31), (8, 31), (9, 30), (10, 31), (11, 30), (12, 31)]
    
    end_of_year = month == 12 and day == 31
    
    if end_of_month:
        if end_of_year:
            year += 1
            month = 1
            day = 1
        else:
            month += 1
            day = 1
    else:
        day += 1
    
    return year, month, day
    
if __name__ == "__main__":
    today = read_date()
    print_date(today)
    tomorrow = advance_day(today)
    print_date(tomorrow)

2018 02 28
02/28/2018
03/01/2018

In [39]:
#너무 깔끔해서 눈물이 흘렀다..

**딕셔너리(dict) 사전형**

In [42]:
dic = {}               # dic이라는 이름으로 비어있는 딕셔너리를 만든다.
dic['dictionary'] = '1. A reference book containing an ...'
dic['python'] = 'Any of various nonvenomous snakes of the ...'
dic['dictionary']      # dic아, 'dictionary'가 뭐니?

'1. A reference book containing an ...'

In [43]:
smalldic = {'dictionary': 'reference', 'python': 'snake'}
smalldic['python']

'snake'

In [44]:
smalldic

{'dictionary': 'reference', 'python': 'snake'}

In [45]:
#이와 같이 딕셔너리 자료형은 키(key)와 값(value)의 쌍으로 이루짐.

In [47]:
del smalldic['dictionary']
#삭제하는 방법

KeyError: ignored

In [49]:
smalldic

{'python': 'snake'}

**연습 문제: 숫자 읽기(0~9)**

매개변수로 입력받은 정수에 해당하는 한글 문자열을 반환하는 함수 korean_number()

를 if 문을 사용하지 말고 작성하세요. 단, 사용자는 0 이상 9 이하의 정수 중 

하나를 입력한다고 가정합니다.

In [ ]:
def red