<a href="https://colab.research.google.com/github/AnnyangEH/MNFpython/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
7일 동안 파이썬 마스터하기! 도전 4일차(21.05.23)
'왕초보를 위한 Python'의 wikidocs 를 통해서 공부합니당
첫 단계인 만큼 추후 목표는 머신러닝을 파이썬을 통해 공부할 것이고
7일 동안 파이썬과 익숙해지면 나만의 게임도 만들거임
"""
#4일차는 데이터타입을 배우는 날임

In [ ]:
'''
컴퓨터는 모든 숫자, 문자를 모두 이진수로 확인하기 때문에
01000001가 숫자 65인지, 알파벳 A인지 판별할 수 없어서
사용자이던 컴퓨터이던 자료형을 통해 구분지어 주는 것임
'''

In [ ]:
#파이썬의 자료형은 크게 수치형(numbers), 순서형(sequence), 매핑형(mapping) 등으로 나눌 수 있음

In [ ]:
type(5)

int

In [ ]:
type('안녕')

str

In [ ]:
#수치형 수치형에는 정수(int), 부동소수점수(float), 복소수(complex)가 있음

In [ ]:
type(100000)    #정수형

int

In [ ]:
type(2.2)   #부동소수점수

float

In [ ]:
type(3+4j)  #망할 복소수

complex

In [ ]:
#순서형 문자열(string), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 순서형에 속함

In [ ]:
type("today i don't feel like doing anything")

str

In [ ]:
type(['Mom','Pop','Bro','Me'])

list

In [ ]:
type(('love','is','always','painful'))

tuple

In [ ]:
#매핑형 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이룸, 이런 것을 매핑형이라함

In [ ]:
type({'one' : 1, 'two' : 2, 'three' : 3})

dict

In [ ]:
#불 참(True),거짓(False)를 표현하는 불(bool)도 있음, 참고로 bool은 boolean의 줄임말임

In [ ]:
type(False)

bool

In [ ]:
#세트 집합을 의미하는 세트(set)

In [ ]:
number = {'하나', '둘', '삼'}
type(number)

set

In [ ]:
'Python'[::-1]  #문자열 슬라이싱(slicing)을 이용해, 문자열에 속한 문자들을 거꾸로 배열하고 얻을 수 있음

'nohtyP'

In [ ]:
'Python'[:6]

'Python'

**문자열 슬라이싱**

문자열 슬라이싱을 이용해 문자열의 일부를 복사할 수 있습니다.
>>> p = 'Python'
>>> p[0:2]
'Py'

아래처럼 인덱스 0을 생략할 수도 있습니다.
>>> p[:2]
'Py'

문자열의 뒷부분을 복사할 수도 있습니다.
>>> p[-2:]
'on'

다음과 같은 방법으로 문자열 전부를 복사할 수도 있습니다.
>>> p[:]
'Python'

역순으로 복사하는 것도 가능합니다.
>>> p[::-1]
'nohtyP'

문자열의 lower() 메서드를 이용해 소문자만으로 이루어진 문자열을 얻을 수 있습니다.
>>> 'Python'.lower()
'python'

그리고 replace() 메서드를 이용해 문자열 일부를 다른 문자열로 바꾼 문자열을 얻을 수 있습니다.
>>> 'Python'.replace('P', 'J')
'Jython'

**문제**

거꾸로 배열해도 같은 단어 혹은 문장이 되는 것을 ‘회문(palindrome)’이라고 합니다.

Anna
Civic
Kayak
Level

**문제 1**

주어진 단어가 회문인지 판별하는 함수 palindrome()을 작성하세요. 단, 문자열 입력은 모두 소문자로 이뤄지며 공백을 포함하지 않는다고 가정합니다.

>>> palindrome('anna')

True

>>> palindrome('banana')

False

In [ ]:
def pailndrome(s):
    if str(s) == str(s[::-1]):
        return True
    else:
        return False

In [ ]:
print(pailndrome('sos'))
print(pailndrome('island'))
print(pailndrome('anna'))

True
False
True

**문제 2**

대문자와 소문자가 섞여 있더라도 회문으로 판정하도록 함수를 개선하세요.

>>> palindrome('Anna')

True

In [ ]:
def cappailndrome(s):
    if str(s.lower()) == str(s.lower()[::-1]):
        return True
    else:
        return False

In [ ]:
print(cappailndrome('Sos'))
print(cappailndrome('Island'))
print(cappailndrome('Anna'))

True
False
True

**문제 3**

공백이 섞여 있더라도 회문으로 판정하도록 함수를 개선하세요.

>>> palindrome('My gym')

True

In [ ]:
def gopalindrome(s):
    s = str(s.replace(' ',''))
    if str(s.lower()) == str(s.lower()[::-1]):
        return True
    else:
        return False

In [ ]:
print(gopalindrome('S O s'))
print(gopalindrome('Annn'))
print(gopalindrome('Island'))
print(gopalindrome('An na'))

True
False
False
True

In [1]:
#21.05.23(SUN) 상하이 vs 퓨전전 옵치리그 1시간 정도 보고 아마존 웹서비스 프랙티션 영상 조금 챙겨보구,, 나머지 하느라 조금밖에 못했음! 낼 개인정비 시간에 더 해야쥐

**문자열**

In [2]:
x = 'banana'

In [6]:
x[0]    #0번 글자는?

'b'

In [7]:
x[2:4]  # 2번부터 4번 앞(3번)까지는?

'na'

In [4]:
x[:3]   # 처음부터 3번 앞(2번)까지는?

'ban'

In [5]:
x[3:]   # 3번부터 끝까지는?

'ana'

In [8]:
x[0] = 'n'

TypeError: ignored

In [9]:
x = 'n' + x[1:]

In [10]:
x

'nanana'

**리스트**

In [11]:
prime = [3, 7, 11]

In [12]:
prime.append(5)     #append()함수를 통해 원소 5를 추가

In [13]:
prime

[3, 7, 11, 5]

**sort()** 함수를 사용하면 정렬을 간단하게 할 수 있씀

In [15]:
prime.sort()

In [16]:
prime

[3, 5, 7, 11]

In [17]:
prime.insert(0,2)   #0번 자리에 2를 추가!

In [18]:
prime

[2, 3, 5, 7, 11]

In [ ]:
del prime[4]    #4번 원소를 삭제

In [21]:
prime

[2, 3, 5, 7]

In [22]:
prime[0] = 1    #문자열과는 달리 리스트에서는 변경할 수 있음
prime

[1, 3, 5, 7]

In [24]:
orders = ['potato', ['pizza', 'Coke', 'salad'], 'hamburger']    #리스트에 리스트를 넣을 수도 있음
orders[1]   #potato 는 0, hamburger 는 2

['pizza', 'Coke', 'salad']

In [29]:
orders[1][2]

'salad'

In [30]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  #리스트를 통한 행렬도 표현 가능

**문자열을 리스트로 바꾸기**

In [33]:
characters = []
sentence = 'Im the one'
for char in sentence:
    characters.append(char)     #빈 리스트에 append 함수를 통해 sentence의 문자열을 반복해서 하나씩 추가

characters

['I', 'm', ' ', 't', 'h', 'e', ' ', 'o', 'n', 'e']

**숫자를 문자열로 바꾸기**

In [35]:
in_in = 123
type(in_in)

int

In [37]:
str(in_in)  #문자열로 변경시킴 보면 작은 따옴표가 두개 생김

'123'

In [38]:
type(str(in_in))    #type() 함수를 통해 보아도 문자열로 바뀐 것을 확인가능

str

In [39]:
my_str = str(in_in)     #이렇게 얻은 문자열을 새로운 변수에 할당하면 됌

In [ ]:
#어떻게 보면 숫자를 문자열로 바꾼 것이 아니라 >> 숫자값을 통해 새로운 문자열을 얻은 것임

**문자열을 숫자로 바꾸기**

역으로, 숫자를 나타낸 문자열에서 숫자를 얻어낼 수도 있음

In [41]:
int('123')

123

In [42]:
float('123')

123.0

**리스트 원소들의 합 구하기**

In [43]:
one_to_ten = list(range(1,11))
one_to_ten

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
sum(one_to_ten)     #합계를 구하는 함수 sum()

55

In [47]:
chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [20, 50, 10]
me = [96, 99, 100]
minsu = [90, 60, 70]

students = [chulsu, younghee, yong, me, minsu]

In [48]:
for scores in students:
    print(scores)

[90, 85, 70]
[88, 79, 92]
[20, 50, 10]
[96, 99, 100]
[90, 60, 70]

In [49]:
for scores in students:
    total = 0
    for s in scores:
        total += s
    average = total/3
    print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[20, 50, 10] 80 26.666666666666668
[96, 99, 100] 295 98.33333333333333
[90, 60, 70] 220 73.33333333333333

**연습 문제**: 각 자리 숫자의 합을 구하는 함수(리스트를 이용)

정수 num을 매개변수로 받아 각 자리 숫자(digit)의 합을 계산하는 sumOfDigits() 함수를 작성하세요. 단, 나눗셈을 이용하지 말고 풀어보세요.

예 1
입력:
643

출력(6 + 4 + 3 = 13):
13

예 2
입력:
47253

출력:
21

In [84]:
def sumOfDigits(num):
    sum = 0
    for c in list(str(num)):
        sum += int(c)
    return sum

print(sumOfDigits(643))
print(sumOfDigits(47253))

13
21

**연습 문제: 줄기와 잎 그림**

문제
농구팀에 속한 12명의 득점을 다음과 같이 score 리스트로 나타냈습니다.

>>> score = [0, 0, 2, 4, 7, 7, 9]

>>> score += [11, 11, 13, 18]

>>> score += [20]

>>> score

[0, 0, 2, 4, 7, 7, 9, 11, 11, 13, 18, 20]

다음과 같이 stem_leaf 리스트를 만들어 선수들의 득점을 줄기와 잎 그림 형식으로 저장하려고합니다.

>>> stem_leaf = [[], [], []]


**문제 1**
stem_leaf에 데이터를 채우는 프로그램을 작성하세요. 데이터가 채워진 결과는 다음과 같습니다.

>>> stem_leaf

[[0, 0, 2, 4, 7, 7, 9], [1, 1, 3, 8], [0]]

>>> stem_leaf[0]

[0, 0, 2, 4, 7, 7, 9]

>>> stem_leaf[1]

[1, 1, 3, 8]

>>> stem_leaf[2]

[0]

**문제 2**
stem_leaf를 다음과 같은 형태로 프린트하는 프로그램을 작성하세요.

0: [0, 0, 2, 4, 7, 7, 9]

1: [1, 1, 3, 8]

2: [0]

In [139]:
score = [0, 0, 2, 4, 7, 7, 9]
score += [11, 11, 13, 18]
score += [20]

stem_leaf = [[ ], [ ], [ ]]

In [140]:
for s in score:
    d, m = divmod(s, 10)
    stem_leaf[d].append(m)

In [141]:
stem_leaf

[[0, 0, 2, 4, 7, 7, 9], [1, 1, 3, 8], [0]]

In [142]:
stem_leaf[0]

[0, 0, 2, 4, 7, 7, 9]

In [143]:
stem_leaf[1]

[1, 1, 3, 8]

In [144]:
stem_leaf[2]

[0]

In [154]:
def stem_leaf():
    return print('[0]:',stem_leaf[0],'\n'"[1]:",stem_leaf[1],'\n','[2]:',stem_leaf[2])

In [155]:
stem_leaf()

TypeError: ignored